<div class='container my-4'>
  <h1 class='text-center mb-3'>Search for food</h1>

  <form class='d-flex col-8 mx-auto' role='search'>
    <input
      class='form-control me-2'
      type='search'
      placeholder='Search'
      aria-label='Search'
    />
    <button class='btn btn-outline-primary' type='submit'>Search</button>
  </form>
</div>